<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Server Error</title>

    {% load static %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <style>
    .full{
      background: white no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
      height:100%;
    }
    .box {
      background: #b4dbfd;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      max-width:400px;
    }
    </style>
  </head>

  <body class="container-fluid full">
    <div class="jumbotron box" style="margin-top:30vh">
      <h1>Server Error!</h1>
      <small>Error 500</small>
    </div>
  </body>
</html>
