<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your rooms :: coding-night-live</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <style>
    .center-list {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      max-width: 600px;
    }
    .room-link-element {
      color: black;
    }
    .room-link-element:hover {
      color: #0275d8;
      text-decoration: none;
    }
    .room-delete-element {
      color: white;
    }
    .room-delete-element:hover {
      color: white;
      text-decoration: none;
    }
    </style>
  </head>

  <body style="background-color:#eee">
    <!-- Room delete modal -->
    <div class="modal fade" id="room_delete_modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Are you sure to delete this room?</h4>
          </div>
          <div class="modal-footer">
            <button id="modal_delete_button" type="button" class="btn btn-danger" data-dismiss="modal">Delete room</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-light bg-faded" style="background-color:#0275d8;">
      <a class="navbar-brand" href="#">
        <img src="{% static "image/small-logo-point.png" %}" height="30vh">
      </a>
      <ul class="nav navbar-nav">
        <li class="nav-item dropdown float-xs-right">
          {% load account %}
          <a class="nav-link dropdown-toggle" href="#" id="logged_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">Welcome, <b>{% user_display user %}</b></a>
          <div class="dropdown-menu" aria-labelledby="logged_dropdown">
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>
      </ul>

    </nav>

    <div class="list-group center-list">
      <button type="button" class="list-group-item list-group-item-action" onclick="location.href='{% url 'new' %}'" style="margin-top:5vh">
        <h4 class="list-group-item-heading" align="center"><i class="fa fa-plus" aria-hidden="true"></i></h4>
      </button>
    </div>

    <div class="list-group center-list" style="margin-top:1em;">
      {% for room in rooms %}
        <div class="list-group-item list-group-item-action">
          <h4 class="list-group-item-heading"><a class="room-link-element" href="{{ room.link }}">{{ room.title }}</a></h4>
          <span class="tag tag-danger tag-pill float-xs-right">
            <a href="#" class="room-delete-element" onclick="deleteRoom('{% url 'delete' pk=room.label %}')">Delete</a>
          </span>
          <p class="list-group-item-text">Generated at {{ room.time }}</p>
        </div>
      {% endfor %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

    <script>
      function deleteRoom(link) {
        $('#modal_delete_button').attr('onclick', 'location.href="' + link + '"');
        $('#room_delete_modal').modal('show');
      }
    </script>
  </body>
</html>
