<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lorem ipsum dolor sit amet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.1/css/drawer.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    {% load static %}
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">

  </head>
  <style>
  .CodeMirror {
    height: auto;
  }
  .halves {
    width:50%;
    display:inline-block;
    vertical-align: top;
    border-color: #eee;
    border-width: thin;
    border-style:solid;
  }
  </style>

  <body class="drawer drawer--left" style="background-color:#eee">
    <nav class="navbar navbar-light bg-faded" style="background-color:#151515">
      <a class="btn drawer-toggle">
        <i class="fa fa-bars" aria-hidden="true" style="color:white"></i>
      </a>
      <h3 class="navbar-text" style="color:white">
        Slide example
        <a href="#" style="padding-left:20px"><i class="fa fa-link" aria-hidden="true" style="color:#7b7b7b"></i></a>
        <a href="#"><i class="fa fa-download" aria-hidden="true" style="color:#7b7b7b"></i></a>
      </h3>
      <h3 class="navbar-text float-xs-right" style="color:#1e2ea5"><i class="fa fa-user-plus" aria-hidden="true"></i> 34</h3>
    </nav>
    <nav class="drawer-nav" role="navigation" style="z-index:5">
      <ul id="slide_list" class="drawer-menu list-group">
        <li class="list-group-item"><h4 class="list-group-item-heading">Contents</h4></li>
        <li class="list-group-item drawer-menu-item" onclick="clickSlide(32)">Lorem ipsum dolor sit</li>
        <li class="list-group-item drawer-menu-item" onclick="clickSlide(413)">ipsum dolor sit amet markdown long long long long long title</li>
        <li class="list-group-item drawer-menu-item" onclick="clickSlide(210)">dolor sit amet markdown</li>
        <li class="list-group-item drawer-menu-item" onclick="clickSlide(335)">sit amet markdown</li>
        <li class="list-group-item drawer-menu-item" onclick="clickSlide(194)">amet markdown</li>
      </ul>
      <button class="btn btn-secondary btn-block" style="border-style:none; padding:1em;" onclick="addSlide()"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </nav>

    <div class="container-fluid" style="z-index:4">
      <!-- polls -->
      <div id="polls-wrapper" class="row" style="padding: 0px 50px">
      </div>

      <div id="contents-wrapper" class="row">
        <div class="col-md-8">
          <div class="card" style="margin-top: 1em">
            <h4 class="card-title" align="center" style="margin-top:0.5em", id="markdown-title"><i aria-hidden="true"></i>(empty)</h4>
          </div>

          <!-- markdown & rendered output -->
          <div style="margin-top: 1em; background-color: #eee">
            <div class="halves"><textarea id="code"></textarea>
            </div><div class="halves" id="out" style="padding:1em; background-color: #fff"></div>
          </div>

        </div>
        <div class="col-md-4">
          <div id="notice_card" class="card" style="margin-top: 1em">
            <div class="card-block" style="padding-bottom: 10px;">
              <h4 class="card-title"><i class="fa fa-podcast" aria-hidden="true"></i> Notice</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Some quick example texts. No notice here. Merry Coding!</p>
              <div id="hidden-notice">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Some quick example texts. No notice here. Merry Coding!</p>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Some quick example texts. No notice here. Merry Coding!</p>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Some quick example texts. No notice here. Merry Coding!</p>
              </div>
              <a onclick="toggleNotice();" class="card-text btn btn-sm btn-block"><i id="notice-toggler" class="fa fa-sort-asc" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="card" style="margin-top: 1em">
            <div class="card-block">
              <h4 class="card-title" style="margin-bottom:0;"><i class="fa fa-comments-o" aria-hidden="true"></i> Q&A</h4>
            </div>
            <ul id="chat_list_scroll" class="list-group list-group-flush" style="overflow-y: scroll;">
              <div class="list-group-item">
                <!-- Type question -->
                <div class="card">
                  <div class="card-header" style="padding-left: .5rem;">
                    <div style="float:left; margin-right: 10px;"><i class="fa fa-commenting-o" aria-hidden="true"></i> j3f29ko</div> <div style="margin:0;font-size:.5em;" align="right">2017.01.04. 13:04</div>
                  </div>
                  <div class="card-block">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </div>

                <!-- Type reply -->
                <div style="float: left; width: 30px; margin-top: 10px;"><i class="fa fa-reply" aria-hidden="true"></i></div>
                <div class="card" style="margin-left:30px;">
                  <div class="card-block">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>

                <!-- Type speaker -->
                <div style="float: left; width: 30px; margin-top: 10px;"><i class="fa fa-reply" aria-hidden="true"></i></div>
                <div class="card" style="margin-left:30px;">
                  <div class="card-block" style="background-color: rgba(0, 116, 217, 0.28);">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>

                <!-- Type not yet read -->
                <div class="card" style="border-right-color:#0275d8; border-right-style: solid; border-right-width: thick;">
                  <div class="card-header" style="padding-left: .5rem;">
                    <div style="float:left; margin-right: 10px;"><i class="fa fa-commenting-o" aria-hidden="true"></i> j3f29ko</div> <div style="margin:0;font-size:.5em;" align="right">2017.01.04. 13:04</div>
                  </div>
                  <div class="card-block">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </div>

              </div>
            </ul>

            <div class="input-group" style="z-index:1">
              <input type="text" class="form-control" placeholder="Type @help for syntax...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Send</button>
              </span>
            </div>


          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.1.3/iscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.1/js/drawer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/addon/edit/matchbrackets.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.2.2/markdown-it.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

   <script>
    // make initial empty title gray
    $('h4#markdown-title.card-title').css({color: "#D8D6D5"});
 
    // highlight.js init
    hljs.initHighlightingOnLoad();

    // markdownit init
    var md = markdownit({
      html: true,
      breaks: false,
      highlight: function(str, lang){
        if(lang && hljs.getLanguage(lang)){
          try {
            var line_numbers = str.split('\n').length - 1;
            if(str[str.length-1] !== '\n') line_numbers += 1;
            var ret_lines = '';
            for(i=1; i<=line_numbers; i++) {
              ret_lines += '<p style="text-align:right; margin-bottom:0;">' + i + '</p>';
            }
            return '<div><div style="width:2.5em; float:left; padding:0.5em 0.5em 0.5em 0; background-color: #f7f7f7; border-right-color: #bdbdbd;border-right-width: 1px; border-right-style: solid;">' + ret_lines + '</div><div style="margin-left:2.5em; padding:0.5em 0.5em 0.5em 1em; background-color:#fdf6e3;">' + hljs.highlight(lang, str).value + '</div></div>'
            //return hljs.highlight(lang, str).value;
          } catch(__){}
        }
        return '';
      },
    });

    // codemirror init
    var editor = new SimpleMDE({
      element: document.getElementById("code"),
      autofocus: true,
      spellChecker: true,
      forceSync: true,
      lineNumbers: true,
      toolbarTips: false,
      promptURLs: false,

      insertTexts: {
        image: ["![enter image description here](http://", ")"],
        link: ["[enter link description here](http://", ")"],
        horizontalRule: ["", "\n\n-----\n\n"],
        table: ["", "\n\n| Column 1 | Column 2 | Column 3 |\n| -------- | -------- | -------- |\n| Text     | Text      | Text     |\n\n"],
      },
      toolbar: ["bold", "italic", "strikethrough", "heading", "|",
      "code", "quote", "horizontal-rule", "|",
      "ordered-list", "unordered-list", "table", "|",
      "link", "image", "|"],
    });
    editor.codemirror.on("change", function(e) {
      var out = document.getElementById("out");
      out.innerHTML = md.render(e.getValue());
      $('blockquote').addClass('blockquote');     
    });

    editor.codemirror.on("changes", function(e) {
      var slide_title = '(empty)';
      var slide_title_color = '#D8D8D8';

      if($('h1').length !== 0) { 
        var user_defined_title = $('h1')[0].textContent;
        if (user_defined_title.length !== 0) {
          slide_title = user_defined_title;
          slide_title_color = 'black';
          $('h1').contents()[0].remove();
        }
      }

      var title = $('h4#markdown-title.card-title');
      title.text(slide_title);
      title.css({'color': slide_title_color});
    });
 
    // drawer init
    $(document).ready(function() {
      $('.drawer').drawer({
        class: {
          nav: 'drawer-nav',
          toggle: 'drawer-toggle'
        },
        iscroll: {
          mouseWheel: true,
          preventDefault: false
        },
        showOverlay: true
      });

      chatListResize();
    });

    // notice show/hide
    function toggleNotice() {
      $('#hidden-notice').slideToggle({duration:200, step:chatListResize});

      if($('#notice-toggler').hasClass('fa-sort-desc')) {
        $('#notice-toggler').removeClass('fa-sort-desc');
        $('#notice-toggler').addClass('fa-sort-asc');
      }
      else if($('#notice-toggler').hasClass('fa-sort-asc')) {
        $('#notice-toggler').removeClass('fa-sort-asc');
        $('#notice-toggler').addClass('fa-sort-desc');
      }
      chatListResize();
    }

    function chatListResize() {
      var viewport_height = $(window).height();
      var start_height = $('#notice_card').height() + $('#notice_card').offset().top;
      var chat_list_height = viewport_height - start_height - 140;
      if(chat_list_height < 100) {
        chat_list_height = 100;
      }
      $('#chat_list_scroll').height(chat_list_height);
    }

    function startPoll(q_str, a_strs) {
      // debug
      q_str = "Q. How does this get toggled? Let's make this question much longer!";
      a_strs = ['Lorem ipsum dolor sit amet', 'consectetur adipiscing', 'elit', 'sed do eiusmod tempor incididunt ut labore et'];

      $('#contents-wrapper').css('visibility', 'hidden');
      var a_strs_str = '<h1 id="polls-question" class="display-4" align="center" style="margin: 50px auto; display: block; max-width: 1000px; text-align: center;">' + q_str + '</h1>'
      for(var i=0; i<a_strs.length; i+=1) {
        a_strs_str += '<button type="button" class="btn btn-secondary btn-lg btn-block" onclick="endPoll(' + i.toString() + ')">' + a_strs[i] + '</button>';
      }
      $('#polls-wrapper').append(a_strs_str);
    }

    function endPoll(ret_idx) {
      $('#polls-wrapper').empty();
      $('#contents-wrapper').css('visibility', 'visible');

      // do something with ret_idx
      console.log('endPoll');
      console.log(ret_idx);
    }

    function clickSlide(idx) {
      // do something with idx
      console.log('clickSlide');
      console.log(idx);
      $('.drawer').drawer('close');
      showSlide(idx);
    }

    function addSlide() {
      // debug
      var new_idx = 10;
      $('#slide_list').append('<li class="list-group-item drawer-menu-item" onclick="clickSlide(' + new_idx + ')">(empty)</li>');
    }

    function showSlide(idx) {
      // debug
      // get data string with idx
      console.log('showSlide');
      var data = '# this is title with idx ' + idx.toString() + '\n## and this is content!\n### this too!';
      editor.value(data);
    }
    
    $(window).resize(function() {
      chatListResize();
    });
    </script>

  </body>
</html>
